<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>例のネタバレ垢をブロックするやつ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="../static/css/bootstrap-social.css"
	th:href="@{/css/bootstrap-social.css}" rel="stylesheet" />
<style type="text/css">
.panel {solid #ddd;
	margin-top: 20px;
	margin-bottom: 0px;
}

div {
	margin-bottom: 0px;
}
</style>
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<div class="container">
		<div class="jumbotron">
			<div>

				<h2><a href="/">例のネタバレ垢をブロックするやつ</a></h2>
				<p>とあるキンプラのネタバレアカウントを名前を見ずにボタンひとつでブロックとスパム報告をします。
					名前やプロフィールにネタバレを書き込んだ状態でネタバレを嫌がる人を狙って「いいね」を行い通知により強制的に見せる悪意の強いアカウントであり、何らかの対策が必要であると考えこのアプリを制作しました。
					そのアカウントのみをターゲットしたアプリであり、一般的なネタバレ行為をする人すべてをブロックする訳では無いことはご承知おきください。
				</p>

				<p>
					さくらもちさん(<a href="https://twitter.com/skrmch_rhythpri"> <span
						class="fa fa-twitter"></span></a>) も同様のWEBアプリを作ってますので <a
						href="https://skrm.ch/prettyrhythm/twitter_blocker/">こちら</a>も試してください。
				</p>

				<p>
					２０１７年６月３日：機能追加：周期的に自動でブロックを実行するようになりました。
					２０１７年６月３日以降に本アプリを実行した場合は、ネタバレアカウントが複垢で再発した場合も自動でブロックとスパム報告を実施します。
					ネタバレアカウントのブラックリスト登録は作者が気づき次第追加するので、
					<a	href="https://twitter.com/messages/compose?recipient_id=251211966"
						data-screen-name="Chupacabras_MON"
						data-show-count="false">ツイッターのダイレクトメッセージで知らせてもらえると助かります。</a>
					<script src="//platform.twitter.com/widgets.js"
						charset="utf-8">
						DMをおくる
					</script>

				</p>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
					<a href="../requestToken"
						class="btn btn-block btn-social btn-twitter"> <span
						class="fa fa-twitter"></span>ツイッターでログインして実行
					</a>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title" th:text="${ret}" id="result">一覧</h2>
					</div>
					<div class="panel-body">
						<p th:each="NetabareAccountData : ${listNetabareAccount}"
							th:object="${NetabareAccountData}"
							th:text="*{userid} + *{result}"></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div>
					<h6>複垢での再発時用に数字のIDでブロックできるようにしました、対象のアカウントを確認しない仕様なので、信用できる情報源から入手して実行してください。意図しない人をブロックする可能性があります。</h6>
					<form method="post" th:action="@{/idset}" class="clearfix">
						<div
							class="pull-left col-xs-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
							<input name="id" type="text" class="form-control"></input>
						</div>

						<div
							class="pull-right col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
							<button type="submit"
								class="btn btn-block btn-social btn-twitter">
								<span class=" fa fa-twitter"></span>IDを指定して実行
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row" th:if="${niconico}">
				<div class="panel panel-warning">
					<div class="panel-heading clearfix">
						<div class=" pull-left">
							<h2 class="panel-title" style="vertical-align: middle;">祝！キンプラ公開！キンプラをより楽しむためにもオーロドリームとディアマイフューチャーもチェックしよう！</h2>
						</div>
						<div class=" pull-right">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://netabareblock.ddns.net/" data-via="Chupacabras_MON" data-size="large" data-dnt="true">ツイートする</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
					</div>
					<div class="panel-body">
						<div class="center-block text-center">
							<script type="application/javascript"
								src="http://embed.nicovideo.jp/watch/1346837196/script?w=640&amp;h=360"></script>
							<noscript>
								<a href="http://www.nicovideo.jp/watch/1346837196">プリティーリズム・オーロラドリーム
									第1話「スタア誕生！」</a>
							</noscript>
							<script type="application/javascript"
								src="http://embed.nicovideo.jp/watch/1346901484/script?w=640&amp;h=360"></script>
							<noscript>
								<a href="http://www.nicovideo.jp/watch/1346901484">プリティーリズム・ディアマイフューチャー
									第1話「ハローマイフューチャー」 </a>
							</noscript>
						</div>
					</div>
				</div>
			</div>
			<div>
				作った人：<a href="https://twitter.com/Chupacabras_MON">悶絶チュパカブラ<span
					class="fa fa-twitter"></span></a>
			</div>
			<div>
				ソースコード：<a href="https://github.com/paputema/NetabareBlock">GitHub<span
					class="fa fa-github"></span></a>
			</div>
		</div>
	</div>
</body>

</html>